body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
    
}

.logo{
    text-align: center;
}
.navbar li{
    margin-left: 15%;
}
ul li{
    display: inline-block;
    padding: 10px 10px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.intro{
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.pera{
    margin-left: 25%;
    margin-right: 25%;
}
.jhon{
    color: #CF1767;

}
.ach{
    width: 100%;
    height: 20%;
    background-color: white;
}
.jhonn{
    text-align: center;
    color: #CF1767;
    margin: 0px;
    padding: 1%;
}
.service{
    width: 27%;
    border: 2px solid #CF1767;
    padding: 1%;
    text-align: center; 
    float: left;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}